<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <img src="assets/images/logo.jpg" alt="" class="redondus">
                <a mat-button routerLink="/home" routerLinkActive="active" color="basic">Home</a>
                <a mat-button routerLink="/products" routerLinkActive="active" color="basic">Products</a>
                <a mat-button routerLink="/contact" routerLinkActive="active" color="basic">Contact</a>
            </nav>
            <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
                <mat-icon>storefront</mat-icon>
                Carrito
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>