<section class="home-section">
    <div class="home-content">
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Total Order</div>
                    <div class="number">{{order.length}}</div>
                    <div class="indicator">
                        <span class="material-icons up arrow">arrow_upward</span>
                        <span class="text">Up from yesterday</span>
                    </div>
                </div>
                <span class="bx material-icons cart">shopping_cart</span>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Total Sales</div>
                    <div class="number">38,876</div>
                    <div class="indicator">
                        <span class="material-icons up arrow">arrow_upward</span>
                        <span class="text">Up from yesterday</span>
                    </div>
                </div>
                <span class="material-icons cart two">add_shopping_cart</span>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Total Profit</div>
                    <div class="number">$12,876</div>
                    <div class="indicator">
                        <span class="material-icons up arrow">arrow_upward</span>
                        <span class="text">Up from yesterday</span>
                    </div>
                </div>
                <span class="material-icons cart three">shopping_cart</span>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Total Products</div>
                    <div class="number">{{product.length}}</div>
                    <div class="indicator">
                        <span class="material-icons down arrow">arrow_downward</span>
                        <span class="text">Down From Today</span>
                    </div>
                </div>
                <span class="material-icons cart four">production_quantity_limits</span>
            </div>
        </div>
    </div>
</section>