.row {
  display: flex;
  justify-content: center;
  align-items: center;
  .crop-image {
    display: block;
    height: 300px;
    width: 500px;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      object-position: center;
    }
  }
  .card {
    .description{
      margin: 20px;
    }
  }
}
.back-w {
  background-color: #fff;
  color: black;
  width: 400px;
  margin: 30px 50px;
}

.container {
  display: flex;
  flex-direction: row;
}
.container-btn {
  margin: 30px 0;
}
