.stepper {
    margin: 30px 0;
}
.container {
    color: white;
}
.products-table {
    width: 96%;
    margin: 2%;
}

.btn-cant {
    margin: 0 5px;
}

.consult-prod {
    display: flex;
    justify-content: center;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}
