@import "~swiper/swiper-bundle";

.container {
  width: 750px;
}
.swiper-container {
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    width: 550px;
  }
  .swiper-container {
    width: 80%;
  }
}
