<mat-tab-group class="container" color="primary" backgroundColor="primary">

    <mat-tab label="Todos">
        <div class="product-grid">
            <app-product *ngFor="let product of products" (productClicked)="clickProduct($event)" [product]="product">
            </app-product>
        </div>
    </mat-tab>

    <mat-tab label="Vestidos">
        <div *ngFor="let product of products">
            <div *ngIf="product.category === category1">
                <div class="product-grid">
                    <app-product (productClicked)="clickProduct($event)" [product]="product">
                    </app-product>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Bikinis">
        <div *ngFor="let product of products">
            <div *ngIf="product.category === category2">
                <div class="product-grid">
                    <app-product (productClicked)="clickProduct($event)" [product]="product">
                    </app-product>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Faldas">
        <div *ngFor="let product of products">
            <div *ngIf="product.category === category3">
                <div class="product-grid">
                    <app-product (productClicked)="clickProduct($event)" [product]="product">
                    </app-product>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Kimono">
        <div *ngFor="let product of products">
            <div *ngIf="product.category === category4">
                <div class="product-grid">
                    <app-product (productClicked)="clickProduct($event)" [product]="product">
                    </app-product>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Salida de Baño">
        <div *ngFor="let product of products">
            <div *ngIf="product.category === category5">
                <div class="product-grid">
                    <app-product (productClicked)="clickProduct($event)" [product]="product">
                    </app-product>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>